<style>
  footer {
    padding: 48px 12px;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: normal;
  }
  footer h5 {
    font-weight: normal;
    font-size: 16px;
  }
  footer ul {
    list-style: none;
  }
  footer li {
    margin: 0;
  }
  footer a {
    text-decoration: none;
    color: inherit;
  }
</style>
<footer>
  <div class="container">
    <div class="row">
      <div class="three columns">
        <h5>What is Veeta</h5>
        <ul>
          <li><a href="#">Product</a></li>
          <li><a href="#">Business License</a></li>
        </ul>
      </div>
      <div class="three columns">
        <h5>Legal Stuff</h5>
        <ul>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="three columns">
        <h5>About</h5>
        <ul>
          <li><a href="#">Team</a></li>
          <li><a href="#">Press</a></li>
        </ul>
      </div>
      <div class="three columns">
        <h5>Contact</h5>
        <ul>
          <li><a href="mailto:contact@veetalog.com">contact@veetalog.com</a></li>
          <li><a href="https://github.com/Healthica/veeta" target="_blank">GitHub</a></li>
        </ul>
      </div>
    </div>
    <div class="text-center">
      © Veeta 2017
    </div>
  </div>
</footer>
