<link href=/static/style-home.css rel=stylesheet>

<section class="hero">
  {{>header}}
  <div class="row text-center">
    <h1>Veeta</h1>
    <h2>Log Everything</h2>
    <div class="call-to-action">
      <a class="button button-primary" href="/app">Start</a>
      <div class="text-muted text-light">
        Try as a guest, it's free and anonymous
      </div>
    </div>
  </div>
</section>


<section class="container benefits">
  <div class="row">
    <div class="one-third column">
      <h3 class="text-center">Flexible</h3>
      <p>
        With Veeta you can record any piece of information - heart rate, mood, workout, sun exposure - anything you care about. Add notes, attach images or read data from your smart watch - it works however you need it to.
      </p>
    </div>
    <div class="one-third column">
      <h3 class="text-center">Modern</h3>
      <p>
        Veeta was built from the ground up to be blazing fast, lightweight and future compatible with new technologies.
      </p>
    </div>
    <div class="one-third column">
      <h3 class="text-center">Simple</h3>
      <p>
        Veeta gets out of the way and just works whenever you need it to.
      </p>
    </div>
  </div>
</section>

<section class="marketing blue">
  <div class="container">
    <div class="row">
      <div class="one column">&nbsp;</div>
      <div class="six columns">
        <h2>Tracking Health Symptoms</h2>
        <p>
          Record your medications, diet and any factor you can think of that influence how you feel. Find out what keeps your symptoms under control.
        </p>
      </div>
      <div class="four columns">
        <img class="marketing-screenshot" src="/static/screenshots/symptoms.png">
      </div>
      <div class="one column">&nbsp;</div>
    </div>
  </div>
</section>

<section class="marketing orange">
  <div class="container">
    <div class="row">
      <div class="one column">&nbsp;</div>
      <div class="six columns">
        <h2>Experiments</h2>
        <p>
          See whether something has a statistically significant effect on you.
        </p>
      </div>
      <div class="four columns">
        <img class="marketing-screenshot" src="/static/screenshots/symptoms.png">
      </div>
      <div class="one column">&nbsp;</div>
    </div>
  </div>
</section>

<section class="marketing green">
  <div class="container">
    <div class="row">
      <div class="one column">&nbsp;</div>
      <div class="six columns">
        <h2>Goals</h2>
        <p>
          Get a timely reminder to make a measurement, and zoom-out to see your improvement progress.
        </p>
      </div>
      <div class="four columns">
        <img class="marketing-screenshot" src="/static/screenshots/symptoms.png">
      </div>
      <div class="one column">&nbsp;</div>
    </div>
  </div>
</section>

<section id="testimonials" class="container benefits text-center">
  <h2>How people use Veeta?</h2>
  <div class="row">
    <div class="one-third column">
      <h3>Track Health Symptoms</h3>
      <div class="testimonials-item">
        <p>
          I'm living with cluster headaches most of my life, so I have to constantly monitor the frequency of the attacks. I use this app to alert me whenever I'm above threshold.
        </p>
        <img src="/static/img/user_m.svg">
        <div>
          <strong>61, Male</strong>
        </div>
        Retired
      </div>
    </div>
    <div class="one-third column">
      <h3>Run Self Experiments</h3>
      <div class="testimonials-item">
        <p>
          After years of vomitting when having the slightest amount of alcohol, I found out that the type of the birth-control pill I was taking was the cause! I just switched to a different brand and now I can have a drink without any side effects.
        </p>
        <img src="/static/img/user_f.svg">
        <div>
          <strong>26, Female</strong>
        </div>
        Waitress
      </div>
    </div>
    <div class="one-third column">
      <h3>Monitor Life Goals</h3>
      <div class="testimonials-item">
        <p>
          I decided to lose some weight and get in shape, so I started monitoring my weight, workouts and nutrition. It's nice to see a chart with an overview of my progress, keeps me motivated.
        </p>
        <img src="/static/img/user_m.svg">
        <div>
          <strong>31, Male</strong>
        </div>
        IT Manager
      </div>
    </div>
  </div>
  <div class="row hidden">
    <div class="one-third column">
      <h3>Keep a Daily Journal</h3>
      <div class="testimonials-item">
        <p>
          I made a habit of writing my thoughts and experiences every day, and it has truly changed my life. It keeps me focused on my goals, reduces scatter in my life, and helps me recognize what needs to be removed and what should be included in my life. Couldn't recommend it enough!
        </p>
        <img src="/static/img/user_m.svg">
        <div>
          <strong>31, Female</strong>
        </div>
        Writer
      </div>
    </div>
    <div class="one-third column">
      <h3>Record Your Life History</h3>
      <div class="testimonials-item">
        <p>
          I like the idea of re-experiencing my past with today’s mind. Once in a while I go over my old stuff and recall happy, sad and funny moments I had with old friends.
        </p>
        <img src="/static/img/user_f.svg">
        <div>
          <strong>39, Female</strong>
        </div>
      </div>
    </div>
    <div class="one-third column hidden">
      <h3>Add Yours!</h3>
      <div class="testimonials-item editable">
        <p>
          <textarea id="testimonials-form-text" rows="4"></textarea>
        </p>
        <div class="display-flex">
          <img src="/static/img/user_m.svg">
          <input id="testimonials-form-age" type="number" placeholder="Age">
        </div>
        <input type="text" id="testimonials-form-description" placeholder="Who are you?">
        <div class="flex-center">
          <button>Submit</button>
        </div>
      </div>
    </div>
  </div>
  <div id="testimonials-toggle" class="text-center">
    <button class="show-more">
      <img src="/static/img/chevron-arrow-down.svg">
      Show more
    </button>
    <button class="show-less">
      <img src="/static/img/chevron-arrow-up.svg">
      Show less
    </button>
  </div>
</section>

<section class="marketing green">
  <div class="container">
    <div class="row">
      <div class="one column">&nbsp;</div>
      <div class="six columns">
        <h2>Free, Anonymous and Open-Source</h2>
        <p>
          You can use Veeta however you want, for free, forever. You don't have to sign in with Facebook or give us your email. You can look at our source code and run a copy of it yourself.
        </p>
      </div>
      <div class="four columns">
        <img class="marketing-screenshot" src="/static/screenshots/symptoms.png">
      </div>
      <div class="one column">&nbsp;</div>
    </div>
  </div>
</section>

<script>
document.getElementById('testimonials-toggle').addEventListener('click', function() {
  document.getElementById('testimonials').classList.toggle('open');
});
var onScreenshotClick = function(ev) {
  window.open(ev.target.src, '_blank');
};
var screenshots = document.querySelectorAll('.marketing-screenshot');
for (var i = 0; i < screenshots.length; i++) {
  screenshots[i].addEventListener('click', onScreenshotClick);
}
</script>

{{>footer}}
