<link href=/static/style-home.css rel=stylesheet>

<section class="hero">
  <div class="row text-center">
    <h1>Veeta</h1>
    <h2>Log Everything</h2>
    <div class="call-to-action">
      <a class="button button-primary" href="/app">Start</a>
      <div class="text-muted text-light">
        Try as a guest, it's free and anonymous
      </div>
    </div>
  </div>
</section>

<section class="container benefits text-center">
  <h2>What can you do with Veeta?</h2>
  <div class="row">
    <div class="one-third column">
      <img class="benefits-icon" src="/static/img/tablets.svg">
      <h3>Track Health Symptoms</h3>
      <div class="testimonials-item">
        <p>
          Amon lanc bodo proudfoot chief elessar, title of aragorn firienfeld frogmorton hill hither shore houses of healing laiquendi odovacar bolger old ford regent of gondor.
        </p>
        <img src="/static/img/user_m.svg">
        <div>
          <strong>Age, Gender</strong>
        </div>
        Position
      </div>
    </div>
    <div class="one-third column">
      <img class="benefits-icon" src="/static/img/pitcher.svg">
      <h3>Run Self Experiments</h3>
      <div class="testimonials-item">
        <p>
          Araval belecthor ii bridge inn dor firn-i-guinar gates of sirion geese imrahil king of the silvan elves langstrand lord of balrogs lord of the mark miruvor second people tar-ciryatan umbardacil wise, wizards and elves.
        </p>
        <img src="/static/img/user_f.svg">
        <div>
          <strong>Age, Gender</strong>
        </div>
        Position
      </div>
    </div>
    <div class="one-third column">
      <img class="benefits-icon" src="/static/img/goal.svg">
      <h3>Monitor Life Goals</h3>
      <div class="testimonials-item">
        <p>
          Barrows dor-nu-fauglith eriador exile of the noldor hidden city losgar minas morgul southern army three keepers three prayers undergate war of the powers wilderland.
        </p>
        <img src="/static/img/user_m.svg">
        <div>
          <strong>Age, Gender</strong>
        </div>
        Position
      </div>
    </div>
  </div>
</section>

<section class="marketing">
  <div class="container">
    <div class="row">
      <div class="two-thirds column">
        <h2>Tracking Health Symptoms</h2>
        <p>
          Record your medications, diet and any factor you can think of that influence how you feel. Find out what keeps your symptoms under control.
        </p>
      </div>
      <div class="one-third column">
        <img class="marketing-icon" src="/static/img/tablets.svg">
      </div>
    </div>
  </div>
</section>

{{>footer}}
